.fullAboutPage{
  background-color: black;
  margin: 3em 2em;
  padding: 1em;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px grey);
}
.aboutContent {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center

}
.aboutPic {
  max-width: 15rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 5px 5px white;
  filter: drop-shadow(0 0 5px white);
}
.aboutContent h1 {
  margin: 2em 0;
  font-size: 1.25em;
  color: rgb(29, 158, 170);

  font-family: 'Oxygen', sans-serif;
  font-weight:  100;
}
.nameTitle {
  font-size: 2em;
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif;
}
